@page "/"

<PageTitle>MOODLE GENERAATTORI</PageTitle>

<h1>Moodle generaattori</h1>

<Card>
    <CardBody>
        <p>Huomioi, että jos yrittää avata generaattorit käytten linkkiä, se ei toimi. Sama pätee, jos päivittää sivun generaattoreissa.
        <br />
            Kannattaa ottaa etusivun linkki helppoon paikkaan, jotta löydät helposti perille jos näin käy. <a href="https://osaama05.github.io/MoodleHelper/">https://osaama05.github.io/MoodleHelper/</a>
            <br />
            <br />
            Käytettävät generaattorit löydät vasemmalta ja alhaalta.
        </p>
    </CardBody>
</Card>

<Card>
    <CardBody>
        <p>
			<h2><a href="/ShortAnswer/">AVOIN VASTAUS</a></h2>
            Avoimessa vastauksessa vastataan suoraan tekstillä. Mahdollista myös merkata vastaukset merkkiriippuvaisiksi.
            <br/>
            <h2><a href="/Numerical/">NUMEERINEN VASTAUS</a></h2>
            Numeerinen vastaus on vastaus, johon vastataan numeroilla.
            <br/>
            <h2><a href="/MultiChoice">MONIVALINTA</a></h2>
            Monivalinnassa valitaan yksi tai useampi vastaus vastauslistasta.
        </p>
    </CardBody>
</Card>

@code
{

}