@page "/"

<PageTitle>MOODLE GENERAATTORI</PageTitle>

<h1>Moodle generaattori</h1>

<Card>
    <CardBody>
        <p>Huomioi, että jos yrittää avata generaattorit käytten linkkiä, se ei toimi. Sama pätee, jos päivittää sivun generaattoreissa.
        <br />
			Kannattaa ottaa etusivun linkki helppoon paikkaan, jotta löydät helposti perille jos näin käy.<a href="c:\ohjelmointi\projektit\moodlehelper\blazoruiwebassembly\pages\index.razor">c:\ohjelmointi\projektit\moodlehelper\blazoruiwebassembly\pages\index.razor</a>
            <br />
            <br />
        Vasemmalta löydät käytettävät generaattori.</p>
    </CardBody>
</Card>

@code
{

}