@page "/Numerical"
@using static SyntaxGenerator.SyntaxGen
@using SyntaxGenerator.Models
@inject IJSRuntime JSRuntime

<PageTitle>MOODLE GENERAATTORI</PageTitle>

<Button To="/MoodleHelper/" Color="ButtonColor.Primary" Outline="true" Type="ButtonType.Link"> Palaa </Button>

<h3>Numeerinen</h3>

<label for="shortAnswer">Syötä oikea vastaus.</label>
<input id="shortAnswer" name="shortAnswer" @bind="answerString" style="width: 300px;" />



<label for="marginAmount">Syötä pistemarginaali.</label>
<input id="marginAmount" name="marginAmount" @bind="marginAmount" style="width: 300px;" />s



<label for="pointAmount">Syötä Pistemäärä</label>
<input id="pointAmount" name="pointAmount" type="number" @bind="pointAmount" style="width: 300px;" />

<Button Color="ButtonColor.Primary" Outline="true" @onclick="GenerateNumerical">Luo syntaksi</Button>

<h3>Tulos: @numericalResult</h3>


@code {
    bool agree1; 
    private bool enabled = false;
    private bool disabled = true;
    private string numericalResult = "";
    private static string answerString { get; set; }
    private static string marginAmount { get; set; }
    private static string pointAmount { get; set; }
    private static decimal decimalAnswer;
    string previous = "";
    List<AnswerOption> AnswersList = new List<AnswerOption>();


    private void GenerateNumerical()
    {
        //uses the generator from SyntaxGen.cs, which is located in the "code" folder of the project
        numericalResult = CreateNumerical(Convert.ToDecimal(answerString), Convert.ToDecimal(marginAmount), Convert.ToInt32(pointAmount));

    }
}