@page "/ShortAnswer"
@using static SyntaxGenerator.SyntaxGen
@using SyntaxGenerator.Models
@inject IJSRuntime JSRuntime

<PageTitle>Lyhyt vastaus | MOODLE GENERAATTORI</PageTitle>

<h3>LyhytVastaus</h3>


<p>Syötä Vastaus/Vastaukset, ja että onko oikein vai väärin. Erottele useammat vastaukset rivinvaihdolla. Erottele, onko oikein vai väärin ';' merkillä.</p>
<ul>(Esim.)</ul> 
<ul>Vastausmalli;true</ul>
<ul>Vastaus2;false</ul>
<div>
    <textarea id="shortAnswer" @bind="answerString" style="width: 300px;height: 300px;" />
</div>

<div>
    <p>Syötä palaute</p>
    <textarea id="shortFeedback" name="shortFeedback" @bind="feedbackString" style="width: 300px;height: 150px;" />
</div>

<div>
	<label for="pointAmount">Syötä pistemarginaali.</label>
    <input type="number" id="pointAmount" name="pointAmount" @bind="pointAmount" style="width: 300px;" />
</div>

<Switch @bind-Value="agree1" Label="Merkkiriippuvainen?" />

<Button Color="ButtonColor.Primary" Outline="true" @onclick="GenerateShort">Luo syntaksi</Button>

<div>   
    <h3>Tulos: @shortResult</h3>
</div>


@code {
    bool agree1;
    private bool enabled = false;
    private bool disabled = true;
    private string shortResult = "";
    private static string answerString { get; set; }
    private static string feedbackString{ get; set; }
    string previous = "";
    List<AnswerOption> AnswersList = new List<AnswerOption>();
    private int pointAmount = 1;

    private void GenerateShort()
    {
        AnswersList.Clear();
        foreach (string line in answerString.Split('\n'))
        {
            foreach (string correct in line.Split(";"))
            {
                if (correct == "true")
                {
                    AnswersList.Add(new AnswerOption(previous, Convert.ToBoolean(correct)));
                }
                if (correct == "false")
                {
                    AnswersList.Add(new AnswerOption(previous, Convert.ToBoolean(correct)));
                }
                if (correct != "false")
                {
                    previous = correct;                    
                }
            }
        }
        //uses the generator from SyntaxGen.cs, which is located in the "SyntaxGenerator" project
        shortResult = SyntaxGen.CreateShortAnswer(AnswersList, feedbackString, agree1, pointAmount);

    }
}