/* Add application specific styles here */

body{

}
.background {
    background-image: url("/images/IMG_20231115_103509.jpg");
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: -1;
    height: 100%;
    width:100%;
    position:fixed;
}