@page "/syntaxgenerator"
@inject ClipboardService ClipboardService

<PageTitle>Syntax Generator</PageTitle>
<div>
    <h3>Syntax Generator</h3>
</div>

<div class="form-group">
    <label for="questionType">Select Question Type:</label>
    <select @bind="selectedQuestionType">
        <option value="Numerical">Numerical</option>
        <option value="ShortAnswer">Short Answer</option>
        <option value="MultiChoice">Multiple Choice</option>
    </select>
</div>

@if (selectedQuestionType == "Numerical")
{
    <div class="form-group">
        <label for="correctAnswer">Correct Answer:</label>
        <input type="number" @bind="correctNumAnswer" step="any">
    </div>
    <div class="form-group">
        <label for="margin">Margin of Error:</label>
        <input type="number" @bind="margin" step="any">
    </div>
}

@if (selectedQuestionType == "ShortAnswer")
{
    <div class="form-group">
        <button @onclick="() => AddAnswerOption(selectedQuestionType)" class="btn btn-primary">Add answer option</button>
    </div>

    @foreach (var answerOption in saAnswers)
    {
        <br />
        <div>
            <label for="answerOption.Text">Answer:</label>
            <input type=text @bind="answerOption.Text">
        </div>
        <div>
            <label for="answerOption.IsCorrect">Is Correct:</label>
            <input type="checkbox" @bind="answerOption.IsCorrect">
        </div>
        <div>
            <label for="answerOption.Feedback">Feedback for this answer:</label>
            <input type="text" @bind="answerOption.Feedback">
        </div>
        <div>
            <button @onclick="() => RemoveAnswerOption(selectedQuestionType, answerOption)" class="btn btn-outline-danger">Remove</button>
        </div>
    }

    <br />
    <div class="form-group">
        <label for="isCaseSensitive">Is Case Sensitive:</label>
        <input type="checkbox" class="form-check-input" @bind="isCaseSensitive">
    </div>

    <div class="form-group">
        <label for="feedback">Feedback for all wrong answers:</label>
        <input type="text" @bind="feedback">
    </div>
}

@if (selectedQuestionType == "MultiChoice")
{
    <div class="form-group">
        <button @onclick="() => AddAnswerOption(selectedQuestionType)" class="btn btn-primary">Add answer option</button>
    </div>

        @foreach (var answerOption in mcAnswers)
        {
            <br />
            <div>
                <label for="answerOption.Text">Answer:</label>
                <input type=text @bind="answerOption.Text">
            </div>

            <div>
                <label for="answerOption.IsCorrect">Is Correct:</label>
                <input type="checkbox" @bind="answerOption.IsCorrect">
            </div>

            <div>
                <label for="answerOption.Feedback">Feedback:</label>
                <input type="text" @bind="answerOption.Feedback">
            </div>

            <div>
                <button @onclick="() => RemoveAnswerOption(selectedQuestionType, answerOption)" class="btn btn-outline-danger">Remove</button>
            </div> 
        }   
    
    <br/>
    <div class="form-group">
        <label for="isRandomized">Randomize Order:</label>
        <input type="checkbox" class="form-check-input" @bind="isMCRandomized">
    </div>    

    <div>
        <label for="isMultiResponse">Can choose multiple answers:</label>
        <input type="checkbox" @bind="isMultiResponse" class="form-check-input" @onclick="() => isMultiResponseClick()">
    </div>

    <div class="form-group">
        <label for="verChecked">Vertical Presentation:</label>
        <input type="checkbox" @bind="mcVerChecked" class="form-check-input" @onclick="() => mcPresentationClick(1)">
    </div>

    <div class="form-group">
        <label for="horChecked">Horizontal Presentation:</label>
        <input type="checkbox" @bind="msHorChecked" class="form-check-input" @onclick="() => mcPresentationClick(2)">
    </div>

    @if (isMultiResponse == false)
    {
        <div class="form-group">
            <label for="droChecked">Dropdown Presentation:</label>
            <input type="checkbox" @bind="msDroChecked" class="form-check-input" @onclick="() => mcPresentationClick(3)">
        </div>
    }
}

@if (selectedQuestionType == "MultiChoice" && isMultiResponse == true)
{
    <div class="form-group">
		<label for="maxPoints">Points per correct answer:</label>
		<input type="number" @bind="maxPoints">
    </div>
}

else
{
    <div class="form-group">
        <label for="maxPoints">Max Points:</label>
        <input type="number" @bind="maxPoints">
    </div>
}

<div>
    <button class="btn btn-primary" @onclick="GenerateSyntax">Generate Syntax</button>
</div>


@if (!string.IsNullOrEmpty(syntax))
{
    <div class="alert alert-success mt-3">
        Generated Syntax: @syntax
        <button class="btn btn-outline-success" @onclick="() => CopyToClipboard(syntax)">Copy to Clipboard</button>
        <Popup @ref="popup" />
    </div>
}

@code {
    private string selectedQuestionType = "Numerical";
    private int maxPoints = 1;
    private string? feedback;
    private string? syntax;
    private Popup popup = new Popup();

    // Numerical
    private decimal correctNumAnswer;
    private decimal margin;

    // Short Answer
    private List<AnswerOption> saAnswers = new List<AnswerOption>();
    private bool isCaseSensitive;

    // Multi Choice
    private List<AnswerOption> mcAnswers = new List<AnswerOption>();
    private bool? mcIsVertical = null;
    private bool mrIsVertical = true;
    private bool isMultiResponse = false;
    private bool isMCRandomized = true;
    private bool mcVerChecked = false;
    private bool msHorChecked = false;
    private bool msDroChecked = true;


    private async Task CopyToClipboard(string text)
    {
        try
        {
            await ClipboardService.WriteTextAsync(text);
        }
        catch
        {
            popup.Show("Failed to copy to clipboard", "Error");
        }
    }

    private void AddAnswerOption(string listName)
    {
        var correctList = listName switch
        {
            "ShortAnswer" => saAnswers,
            "MultiChoice" => mcAnswers,
            _ => throw new ArgumentException("Invalid list name", nameof(listName))
        };

        correctList.Add(new AnswerOption());
    }

    private void RemoveAnswerOption(string listName, AnswerOption answerOption)
    {
        var correctList = listName switch
        {
            "ShortAnswer" => saAnswers,
            "MultiChoice" => mcAnswers,
            _ => throw new ArgumentException("Invalid list name", nameof(listName))
        };

        try
        {
            correctList.Remove(answerOption);
        }

        catch
        {
            throw new ArgumentOutOfRangeException("Given object is not in given list", nameof(answerOption));
        }
    }

    private void mcPresentationClick(int boxChecked)
    {
        switch (boxChecked)
        {
            case 1:
                mcVerChecked = true;
                msHorChecked = false;
                msDroChecked = false;
                mcIsVertical = true;
                mrIsVertical = true;
                break;
            case 2:
                mcVerChecked = false;
                msHorChecked = true;
                msDroChecked = false;
                mcIsVertical = false;
                mrIsVertical = false;
                break;
            case 3:
                mcVerChecked = false;
                msHorChecked = false;
                msDroChecked = true;
                mcIsVertical = null;
                mrIsVertical = true;
                break;
            default:
                mcVerChecked = true;
                msHorChecked = false;
                msDroChecked = false;
                mcIsVertical = true;
                mrIsVertical = true;
                break;
        }
    }

    private void isMultiResponseClick()
    {
        if (msDroChecked == true)
        {
            msDroChecked = false;
			mcVerChecked = true;
			msHorChecked = false;
			mrIsVertical = true;
        }
    }

    private void GenerateSyntax()
    {
        switch (selectedQuestionType)
        {
            case "Numerical":
                syntax = SyntaxGen.CreateNumerical(correctNumAnswer, margin, maxPoints);
                break;
            case "ShortAnswer":
                syntax = SyntaxGen.CreateShortAnswer(saAnswers, feedback, isCaseSensitive, maxPoints);
                break;
            case "MultiChoice":
                if (isMultiResponse == true)
                {
                    syntax = SyntaxGen.CreateMultiResponse(mcAnswers, isMCRandomized, mrIsVertical, maxPoints);
                }
                else
                {
                    syntax = SyntaxGen.CreateMultiChoice(mcAnswers, isMCRandomized, mcIsVertical, maxPoints);
                }
                break;
            default:
                syntax = "Invalid question type selected.";
                break;
        }
    }
}